

<div class="hero">
    <nav class="navbar">
      <div class="title">
        <a class="compname" routerLink="/">
          <img  alt="Logo" class="logo" src="../../assets/img/NCS-Logo_FullColorAsset 7@3x-100.jpg"></a>
      </div>
      <div>
        <a class="nav-item" routerLink="/">Home</a>
        <a class="nav-item" routerLink="/products">Products</a>
        <a class="nav-item" routerLink="/order"> <span><i class="fa-solid fa-cart-shopping"></i></span>Order</a>
        <a class="nav-item" routerLink="/contact">Contact</a>
      </div>
    </nav>
</div>
