img{
    padding: 20px;
    margin-top: 70px;
    margin-left: 530px;
    width: 30%;
    background: rgb(210, 203, 203);
}

h2{
    margin-top: 50px;
    text-align: center;
}

.bottom-para{
    margin-top: 50px;
    justify-content: center;
    text-align: center;

    p{
        font-size: 2rem;
        margin-bottom: 40px;
    }
}

a{
    margin: 40px 0;
    margin-left: 710px;
}