.bottle-info{
    text-align: center;
    padding-top: 30px;
    margin-top: 70px;
    margin-bottom: 10px
}

.bottle-images{
    display: flex;

    img{
        width: 40%;
        margin-top: 10px;
        margin-left: 90px;
        margin-bottom: 20px;
        border-radius: 5%;
    }
}

a{
    background-color: #198754;
    padding: 15px 60px;
    margin: 40px 0;
    margin-left: 620px;
    font-size: 1.2rem;
}