<div class="bg-light">
    <div class="bag-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae itaque amet autem, repudiandae qui quod placeat error explicabo quia beatae.
    </div>
    <div class="bag-images">
        <img src="../../assets/img/bottle.jpg" alt="">
        <img src="../../assets/img/bottle.jpg" alt="">
    </div>
    <div class="bag-images">
        <img src="../../assets/img/bottle.jpg" alt="">
        <img src="../../assets/img/bottle.jpg" alt="">
    </div>
    <div>
        <a routerLink="/products" class="btn btn-success">Buy Product</a>
    </div>
</div>


