<div id="contact" class="contact flex-columns bg-light">
    <div id="cases" class="cases flex-grid section-padding">
        <div class="section-header">
            <h1>Contact Us</h1>
            <h2>9876543210</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ex!</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="column-1"><img src="../../assets/img/PhoneCall.jpg" alt=""></div>
        </div>
        <div class="column">
            <div class="column-2">
                <h2>Request Callback</h2>
                <form action="" class="callback-form">
                    <div class="form">
                        <label for="name"></label>
                        <input type="text" name="name" id="name" placeholder="Enter name">
                    </div>
                    <div class="form">
                        <label for="email"></label>
                        <input type="email" name="email" id="email" placeholder="Enter email">
                    </div>
                    <div class="form">
                        <label for="phone"></label>
                        <input type="text" name="phone" id="phone" placeholder="Enter phone">
                    </div>
                    <input type="submit" value="Send" id="submit" class="btn">
                </form>
            </div>
        </div>
    </div>
</div>
