<div class="heading">
    <h2>Payment Method</h2>
</div>
<div class="payment bg-light">
    <div class="icons money-icon">
        <a (click)="onClick()" routerLink="/thanks">
            <i class="fa-solid fa-money-bill-1-wave"></i>
            <p>Cash on delivery</p>
        </a>

    </div>
    <div class="icons visa-icon">
        <a routerLink="/card">
            <i class="fa-brands fa-cc-visa"></i>
            <p>Card</p>
        </a>

    </div>
    <div class="icons gpay-icon">
        <a routerLink="/upi">
            <i class="fa-brands fa-google-pay"></i>
            <p>UPI</p>
        </a>

    </div>
</div>